

<div class="doc-container"><h1>Coach's Answer:</h1>
<div class =bg-container>
<p><strong>Your Question:</strong> <%= params[:question] %></p>
<p><strong>Coach's Response:</strong> <%= @coach_answer %></p>
</div>
<%= link_to "Go to Ask", ask_path %>
</div>
