<div style="margin: 0 auto; display: flex; flex-direction: column; width: 600px;">
  <h1>Ask the Coach</h1>
  <form action="/answer" data-turbo="false" style="display: flex; flex-direction: column;">
    <div style="display: flex; flex-direction: row;">
      <input type="text" name="question" class="form-control" style="width: 100%;">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </div>
  </form>
</div>
