<h1>Ask the Coach</h1>
<form action="/answer" method="post" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>

<% if @coach_answer %>
  <h2>Coach's Answer:</h2>
  <p><%= @coach_answer %></p>
<% end %>
